body{
    margin: 0px;
    font-family:sans-serif;
    color:dimgray;
}

#navbar{
    display: block;
    padding: 35px 0px 35px 0px;
    text-align: right;
    font-size: 3em;
    background-color: rgb(245, 245, 245);
}

#navbar a{
    text-decoration: none;
}

.navlink{
    margin: 0px 30px;  
    color: rgb(100,212,199);
}

#navname{
    margin-left: 100px;
    float: left;
    color: rgb(255,91,165);
}

#sect {
    margin-top: 50px;
    margin-left: 170px;
    width: 100%;
}

article {
    border-radius: 4px;
    display:inline-block;
    background: lightgray;
    width: 500px; 
    height: 350px;
    margin: 0px 15px 50px 0px;
}
article h1 {
    font-size: 15px;
}

.imgarticle{
    border-radius: 6px;
    width: 500px;
    height: 350px;
    position: absolute;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* para 980px o menos */
@media screen and (max-width: 980px) {
    
    #iconlogo {
        width: 64%; 
    }
    
	#pagewrap {
		width: 94%;
        height: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}

}

/* para 700px o menos */
@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}

}

/* para 480px o menos */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}

}

/* borde & guideline */
#header, #content, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, #header, #content, #sidebar, #footer {
	border: solid 1px rgb(138, 138, 165);
}
